<!DOCTYPE html>

<html>
  <head> 
    <title> MBL/ATML BORROWER'S DIGIFORM </title> 
    <style>
        h1{
          font-size: 20;
          font-weight: bold;
          font-family: Arial;
          color: rgb(0,40,122);
          text-align: center;          
        }      
    </style>
  </head>
  <body> 
    <div style="text-align:center">
      <img id='logo' src="https://digiform--timmyguemo.repl.co/static/AMTL.jpg">
    </div>
    <h1> MBL/ATML BORROWER'S DIGIFORM </h1> 









    
  </body>
  
</html>